{% extends '../base.html' %} {% load static %} {% comment %} {%load
    crispy_forms_tags %} {% endcomment %}
    <!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
        <link
        rel="icon"
        type="image/x-icon"
        href="../assets/img/favicon/favicon.ico"
      />
      <!-- Fonts -->
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
        href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet"
      />
    
      <!-- Icons. Uncomment required icon fonts -->
      <link
        rel="stylesheet"
        href="{% static '/assets/vendor/fonts/boxicons.css' %}"
      />
    
      <!-- Core CSS -->
      <link
        rel="stylesheet"
        href="{% static '/assets/vendor/css/core.css'%}"
        class="template-customizer-core-css"
      />
      <link
        rel="stylesheet"
        href="{% static '/assets/vendor/css/theme-default.css'%}"
        class="template-customizer-theme-css"
      />
    
      <link rel="stylesheet" href="{% static '/assets/vendor/css/demo.css'%}" />
    
      <!-- Vendors CSS -->
      <link
        rel="stylesheet"
        href="{% static '/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css'%}"
      />
    
      <link
        rel="stylesheet"
        href="{% static '/assets/vendor/libs/apex-charts/apex-charts.css'%}"
      />
    
      <!-- Page CSS -->
      <!-- Page CSS -->
      <!-- Helpers -->
      <script src="{% static '/assets/vendor/js/helpers.js'%}"></script>
    
    
        {% comment %}
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
        {% endcomment %}
    
        <title>Document</title>
      </head>
      <body>
        {% block content %} {% comment %}
        <nav
          class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
          id="layout-navbar"
        >
          <div
            class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none"
          >
            <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
              <i class="bx bx-menu bx-sm"></i>
            </a>
          </div>
    
          <div
            class="navbar-nav-right d-flex align-items-center"
            id="navbar-collapse"
          >
            <!-- Search -->
            <div class="navbar-nav align-items-center">
              <div class="nav-item d-flex align-items-center">
                <i class="bx bx-search fs-4 lh-0"></i>
                <input
                  type="text"
                  class="form-control border-0 shadow-none"
                  placeholder="Search..."
                  aria-label="Search..."
                />
              </div>
            </div>
            <!-- /Search -->
    
            <ul class="navbar-nav flex-row align-items-center ms-auto">
              <!-- Place this tag where you want the button to render. -->
              <li class="nav-item lh-1 me-3">
                <span></span>
              </li>
    
              <!-- User -->
              <li class="nav-item navbar-dropdown dropdown-user dropdown">
                <a
                  class="nav-link dropdown-toggle hide-arrow"
                  href="javascript:void(0);"
                  data-bs-toggle="dropdown"
                >
                  <div class="avatar avatar-online">
                    <img
                      src="{% static './assets/img/avatars/1.png' %}"
                      alt=""
                      class="w-px-40 h-auto rounded-circle"
                    />
                  </div>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li>
                    <a class="dropdown-item" href="#">
                      <div class="d-flex">
                        <div class="flex-shrink-0 me-3">
                          <div class="avatar avatar-online">
                            <img
                              src="{% static './assets/img/avatars/1.png' %}"
                              alt=""
                              class="w-px-40 h-auto rounded-circle"
                            />
                          </div>
                        </div>
                        <div class="flex-grow-1">
                          <span class="fw-semibold d-block">John Doe</span>
                          <small class="text-muted">Admin</small>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <div class="dropdown-divider"></div>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">
                      <i class="bx bx-user me-2"></i>
                      <span class="align-middle">My Profile</span>
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">
                      <i class="bx bx-cog me-2"></i>
                      <span class="align-middle">Settings</span>
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">
                      <span class="d-flex align-items-center align-middle">
                        <i class="flex-shrink-0 bx bx-credit-card me-2"></i>
                        <span class="flex-grow-1 align-middle">Billing</span>
                        <span
                          class="flex-shrink-0 badge badge-center rounded-pill bg-danger w-px-20 h-px-20"
                          >4</span
                        >
                      </span>
                    </a>
                  </li>
                  <li>
                    <div class="dropdown-divider"></div>
                  </li>
                  <li>
                    <a class="dropdown-item" href="auth-login-basic.html">
                      <i class="bx bx-power-off me-2"></i>
                      <span class="align-middle">Log Out</span>
                    </a>
                  </li>
                </ul>
              </li>
              <!--/ User -->
            </ul>
          </div>
        </nav>
        <div class="mb-3"></div>
        {% endcomment %}
        {% comment %} <div class="card" style="width: 50rem;"> {% endcomment %}
          {% comment %} <img class="card-img-top" src="https://source.unsplash.com/?Money" alt="Card image cap"> {% endcomment %}
          <!-- HTML -->
          {% comment %} <img src="https://source.unsplash.com/2560x1560/?Money" alt="Full screen image" width="100%" height="100%"> {% endcomment %}
          <body style="background-image: url('https://source.unsplash.com/860x650/?Money');  background-position: center;">
    
            <!-- Your content here -->
        
            <div class="row mb-3">
              <div class="row mb-3">
                <div class="col-md-6 col-lg-4 mb-3">
                  <div class="card h-100">
                    <img class="card-img-top" src="{% static './assets/img/elements/transportation3.jpg' %}" alt="Card image cap" />
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                      </p>
                      <a href="javascript:void(0)" class="btn btn-outline-primary">Go somewhere</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-3">
                  <div class="card h-100">
                    <img class="card-img-top" src="{% static './assets/img/elements/doctor.jpg' %}" alt="Card image cap" />
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                      </p>
                      <a href="javascript:void(0)" class="btn btn-outline-primary">Go somewhere</a>
                    </div>
                  </div>
                </div>
              
                <div class="col-md-6 col-lg-4 mb-3">
                  <div class="card h-100">
                    <img class="card-img-top" src="{% static './assets/img/elements/loan.jpg' %}" alt="Card image cap" />
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                      </p>
                      <a href="javascript:void(0)" class="btn btn-outline-primary">Go somewhere</a>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class=" mb-5">
                {% comment %} <div class="col-15"></div> <!-- Add horizontal space here --> {% endcomment %}
              </div>
              
              <div class="row mb-3">
                <div class="col-md-6 col-lg-4 mb-3">
                  <div class="card h-100">
                    {% comment %} <img class="card-img-top" src="../assets/img/elements/2.jpg" alt="Card image cap" /> {% endcomment %}
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                      </p>
                      <a href="javascript:void(0)" class="btn btn-outline-primary">Go somewhere</a>
                    </div>
                  </div>
                </div>
              
                <div class="col-md-6 col-lg-4 mb-3">
                  <div class="card h-100">
                    {% comment %} <img class="card-img-top" src="../assets/img/elements/2.jpg" alt="Card image cap" /> {% endcomment %}
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                      </p>
                      <a href="javascript:void(0)" class="btn btn-outline-primary">Go somewhere</a>
                    </div>
                  </div>
                </div>
              
                <div class="col-md-6 col-lg-4 mb-2">
                  <div class="card h-100">
                     <img class="card-img-top" src="{% static './assets/img/elements/download1.png' %}" alt="Card image cap" /> 
                    {% comment %} <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                      </p> {% endcomment %}
                      {% comment %} <a href="javascript:void(0)" class="btn btn-outline-primary">Go somewhere</a>
                    </div>
                  </div> {% endcomment %}
                </div>
              </div>
              
        </body>
        </html>
          
          
    
    
      </div>
      {% endblock content %}    
       
       
      </body>
    </html>